.node {
    .node_name {
        font-size: 14px;
        stroke-width: 0.1;
        fill: black;
        stroke: black;
        text-anchor: middle;
        dominant-baseline: middle;
    }

    .node_description{
        font-size: 14px;
        stroke-width: 0.1;
        fill: black;
        stroke: black;
        text-anchor: middle;
        dominant-baseline: middle;
    }

    .node_second_parent_name {
        font-size: 14px;
        stroke-width: 0.1;
        fill: black;
        stroke: black;
        text-anchor: middle;
        dominant-baseline: middle;

    }
}
