<div class="tui-container tui-container_fixed tui-space_top-10">
  <div class="tui-container tui-col_8">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="login__form tui-row tui-row_sme"
    >
      <div class="tui-col_12">
        <h3 class="tui-form__header tui-form__header_margin-top_none">Login</h3>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="user@email.com"
            formControlName="email"
            tuiHintContent="Email"
            i18n
          >
            Email
          </tui-input>
          <tui-field-error formControlName="email"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input-password
            tuiTextfieldExampleText="Placeholder"
            formControlName="password"
            i18n
          >
            Password
          </tui-input-password>
          <tui-field-error formControlName="password"></tui-field-error>
        </div>

        <div class="tui-form__buttons">
          <button
            tuiButton
            class="tui-form__button"
            size="m"
            type="submit"
            [showLoader]="(isLoading$ | async) === true"
            i18n
          >
            Login
          </button>
        </div>
        <tui-error [error]="loginError$ | async"></tui-error>
      </div>
    </form>
  </div>
</div>
